# Ignore PDFs
*.pdf

# Ignore images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.ico

# Ignore Excel files
*.xls
*.xlsx
*.xlsm
*.xltx
*.csv

#avoid test data until phantom is ready
*.dcm

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
__pycache__/

# Logs
*.log

# IDE / editor
.vscode/
.idea/
*.swp
 

# --- Exceptions ---

# Keep this specific spreadsheet
!NTCPModels_params.xlsx
